// Priority Structure + Mixins - css/priority.css



@import '__0-typography.scss';
@import '__0-colors.scss';


// Global
html {
  //background: $navy;
  //color: white;
  background: white;
  color: $nearblack;
  //font-family: 'Open Sans', sans-serif;
  font-family: 'mreaves', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

  em, i { font-family: 'mreaves-ital'; }

  [href] { color: white; text-decoration: none; }
}

//body { margin: 0; min-width: 20rem; /* 320px */ }
body { margin: 0; /*width: 23.438rem;*/ min-width: 23.438rem; /* viewport - 375px */ }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



// Colors
@import '__0-colors.scss';



// Mixins
%clear:after {
  clear: both;
  content: '';
  display: block;
}

.container { @extend %clear; }

@mixin hover {
  &:hover{ @content; }
	 &:active{ @content; }
	  &:focus{ @content; }
	   &:target{ @content; }
}

@mixin rotate($deg) {
  transform: rotate($deg);
   -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
     -o-transform: rotate($deg);
      -ms-transform: rotate($deg);
}

@mixin flex {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
}

@mixin flex-wrap($args...) {
  -webkit-flex-wrap: $args;
   -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin align-items($args...) {
  -webkit-box-align: $args;
      -ms-flex-align: $args;
          align-items: $args;
}

@mixin justify-content($args...) {
  -webkit-justify-content: $args;
   -ms-flex-pack: $args;
    justify-content: $args;
}

@mixin transition($multi...) {
  -webkit-transition: $multi;
   -moz-transition: $multi;
    -ms-transition: $multi;
     -o-transition: $multi;
      transition: $multi;
}

@mixin transform($rotate, $scale, $skew, $translatex, $translatey) {
  transform: rotate($rotate) scale($scale) skew($skew) translateX($translatex) translateY($translatey);
   -webkit-transform: rotate($rotate) scale($scale) skew($skew) translateX($translatex) translateY($translatey);
    -moz-transform: rotate($rotate) scale($scale) skew($skew) translateX($translatex) translateY($translatey);
     -o-transform: rotate($rotate) scale($scale) skew($skew) translateX($translatex) translateY($translatey);
      -ms-transform: rotate($rotate) scale($scale) skew($skew) translateX($translatex) translateY($translatey);
}

@mixin translatex($x) {
-webkit-transform: translatex($x);
    -ms-transform: translatex($x);
        transform: translatex($x)
}

// Animation
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} { @content; }
  @-moz-keyframes #{$animationName} { @content; }
  @-o-keyframes #{$animationName} { @content; }
  @keyframes #{$animationName} { @content; }
}

$toggle_top: .75rem;
$toggle_top_bottom_collapsed: 1.4rem;
$toggle_bottom: 2rem;

%toggle_middle { top: 1.38rem; }

%toggle_top { top: $toggle_top; }
%toggle_top_bottom_collapsed { top: $toggle_top_bottom_collapsed;  }
%toggle_bottom { top: $toggle_bottom; }



@include keyframes(toggle_top) {
  0% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_top; }
  50% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
  100% { @include transform(45deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
}

@include keyframes(toggle_bottom) {
  0% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_bottom; }
  50% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
  100% { @include transform(-45deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
}


@include keyframes(toggle_top_collapsed) {
  100% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_top; }
  50% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
  0% { @include transform(45deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
}

@include keyframes(toggle_bottom_collapsed) {
  100% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_bottom; }
  50% { @include transform(0deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
  0% { @include transform(-45deg, (1,1), 0, 0, 0); top: $toggle_top_bottom_collapsed; }
}

@mixin animation($name, $timing, $count, $duration) {
  -webkit-animation-name: $name;
  -webkit-animation-timing-function: $timing;
  -webkit-animation-iteration-count: $count;
  -webkit-animation-duration: $duration;

  animation-name: $name;
  animation-timing-function: $timing;
  animation-iteration-count: $count;
  animation-duration: $duration;
}



@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') { @content; }
  @include optional-at-root(':-moz-placeholder') { @content; }
  @include optional-at-root('::-moz-placeholder') { @content; }
  @include optional-at-root(':-ms-input-placeholder') { @content; }
}




// Structure
// Container
%container,
%container-corset {
  /*
  width: calc(100% - 3rem)
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  */
  width: 100%;
  //padding-right: .5rem;
  //padding-left: .5rem;
}

%container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.gutenberg-container > .corset { @extend %container-corset; }


//.site-header > .gutenberg-container,

// allow .core-group to have full-bleed background color ...
[data-role="main"] > .gutenberg-section:not(.core-cover):not(.core-group) > .gutenberg-container,

// ... but put .core-group contents within %container width
[data-role="main"] > .gutenberg-section.core-group > .gutenberg-container > .wp-block-group > .wp-block-group__inner-container,

// article rows (homepage)
// ... but not event rows (homepage)
[data-role="main"] > .wp-block-group__inner-container > .core-shortcode > .gutenberg-container,

[data-role="main"] .wp-block-cover .wp-block-cover__inner-container,

.container {
  @extend %container;
}




[data-role="main"] > .gutenberg-section.core-group > .gutenberg-container > .wp-block-group > .wp-block-group__inner-container {
  padding-right: 1.5rem;
  padding-left:  1.5rem;
}


// overriding Wordpress
.gutenberg-container > .wp-block-columns { margin-bottom: 0; }


.mobile-hide { display: none; }


.search, .archive {
  [data-role="main"] .hentry > [href]:before {
    width: 100%;
    background-size: calc(100% - 3rem) 100%;
    background-position: 1.5rem 0
  }
}





@media (min-width: 62rem) {
  .row { margin-right: -.5rem; margin-left: -.5rem; }

  /*
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-2, .col-sm-2, .col-md-2, */ .col-lg-2, /*
  .col-xs-3, .col-sm-3, .col-md-3, */ .col-lg-3, /*
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  */
  .col-xs-6, .col-sm-6, /* .col-md-6, */ /*, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,*/
  .col-xs-12/*, .col-sm-12, .col-md-12, .col-lg-12*/ {
    position: relative;
    min-height: 1px;
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .col-md-6 {
    padding-right: 0.61rem;
    padding-left: 0.61rem;
  }

  /*
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,*/
  .col-xs-12 {
    float: left;
  }

  .col-xs-12 { width: 100%; }
  /*
  .col-xs-11 { width: 91.66666667%; }
  .col-xs-10 { width: 83.33333333%; }
  .col-xs-9 { width: 75%; }
  .col-xs-8 { width: 66.66666667%; }
  .col-xs-7 { width: 58.33333333%; }
  .col-xs-6 { width: 50%; }
  .col-xs-5 { width: 41.66666667%; }
  .col-xs-4 { width: 33.33333333%; }
  .col-xs-3 { width: 25%; }
  .col-xs-2 { width: 16.66666667%; }
  .col-xs-1 { width: 8.33333333%; }
  */
}


//@media (min-width: 768px) {
@media (min-width: 37.5rem) {
  /*
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  */
  .col-sm-6 /*,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 */ {
    float: left;
  }

  /*
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-7 { width: 58.33333333%; } */
  .col-sm-6 { width: 50%; }
  /*
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-1 { width: 8.33333333%; }
  */
}





//@media (min-width: 992px) {
@media (min-width: 48rem) {

  /* .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5, */
  .col-md-6/*,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 */ {
    float: left;
  }

  /*
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-7 { width: 58.33333333%; }
  */
  .col-md-6 { width: 50%; }
  /*
  .col-md-5 { width: 41.66666667%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-1 { width: 8.33333333%; }
  */
}






//@media (min-width: 1200px) {
@media (min-width: 62rem) {
  /*
  .col-md-1,*/
  .col-lg-2,
  .col-lg-3/*,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 */ {
    float: left;
  }

  /*
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-4 { width: 33.33333333%; }*/
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66666667%; } /*
  .col-lg-1 { width: 8.33333333%; }
  */
}




div[class*="row"] {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}


.hide-small-and-wider { display: block; }
.hide-md-and-smaller  { display: none; }
