// Priority Adaptive styles - priority.css


@media (min-width: 23.438rem) {
  .logo-a { @include justify-content(center); }
}



// Small devices (landscape phones, 37.5rem and up)
@media (min-width: 37.5rem) {

  .mobile-hide { display: block; }

}



// Medium devices (tablets, 48rem and up)
@media (min-width: 48rem) {

  // Structure - medium
  %container-corset { margin-top: 0; margin-bottom: 0; }
  %container { margin-right: auto; margin-left: auto; }

  .container.container-search-results-header {
    padding-right: 0;
    padding-left: 0;
  }

}






// Large devices (desktops, 62rem and up)
@media (min-width: 62rem) {



  // 1. Header - large
  .logo-div { float: left; }
  .logo-a   { @include flex; @include align-items(center); }

  .logo-img { aspect-ratio: 535/62; width: unset; height: unset; }

  #navmenu { float: right; }

  // position two major elements within #navmenu
  #navmenu .navbar-nav{
    float: left;
    display: inline-block;
  }

  #navmenu .search { position: absolute; }


  $headerh: 10rem;
  .site-header, .site-header .logo-a, .navbar-nav { height: $headerh; }

  .site-header { background: $navy; /*overflow: hidden;*/ }

  .site-header > .gutenberg-container { width: calc(100% - 3rem); @include justify-content(space-between); }



  // 2. Nav - large
  $padding-top: 1rem;
  $padding-right: .3rem;
  $padding-right-has-children: 1rem;
  $padding-bottom: 1rem;
  $padding-left: $padding-right;

  // 2. Nav - large
  %navmenu {

    // 2a. basic positioning + styling
    width: auto;

    border-top: none;
    border-bottom: none;

    position: static;
     top: unset;
     left: unset;


    .navbar-nav {
      // line-height: $headerh; // oldschool vertical align middle
      line-height: calc(#{$headerh} - 2rem);
      padding-right: .1rem;  // cheat it left to avoid search button
    }

    .nav-main-menu, .nav-offsite-menu { margin-right: -.8rem; }

    .navbar-nav > .menu-item {
      display: inline-block;
      line-height: 1.2;
      padding-right: .5rem;
      vertical-align: bottom;
    }

    .navbar-nav.nav-main-menu > .menu-item:not(.current-menu-item) > [href] {
      @include hover {
        &:before, &:after { width: calc(50% - .3rem); }
        &:before { left: .3rem; }
      }
    }

    // 2b. basic show hide (always show)
    &:not(.show) { display: block; }
    &.show { -webkit-box-shadow: none; box-shadow: none; }

    // 2c. link styling
    .navbar-nav [href]:not([tabindex]) {
      width: unset;
      border-bottom: none;
      left: 0;
    }

    // 2d. top level link padding
    .navbar-nav > .menu-item:not(.menu-item-has-children) > [href]:not([tabindex]) { padding: $padding-top $padding-right $padding-bottom $padding-left; }
    .navbar-nav > .menu-item.menu-item-has-children > [href]:not([tabindex]) { padding: $padding-top $padding-right-has-children $padding-bottom $padding-left; }
  }


  // 3. Subnav
  %open-submenu-a {
    width: .6rem;
    height: .6rem;
    background-size: contain;
    background-position: 50% 50%;
     top: 1.3rem;
     right: 1rem;
    z-index: 1;

    &.mobile-show-submenu { @include rotate(0); }  // undo mobile
  }

  %submenu-closed, %submenu-opened { position: absolute; left: -9999px; }

  %submenu-closed {
    &> .menu-item > [href]:not([tabindex]) { padding: 1rem 2rem; }
    &> .menu-item > .sub-menu > .menu-item > [href]:not([tabindex]) { padding: 1rem 2rem 1rem 3rem; }

    max-height: unset;
    overflow: visible;
  }

  %submenu-opened-desktop {
    width: 14rem;
    background: #eee;
     left: -1rem;
    z-index: 10;
  }

  // Javascript-powered hover and keyboard focus
  .navbar-nav > .menu-item.menu-item-has-children {
    &.show, &.hover {
      &> .open-submenu-a + .sub-menu {
        @extend %submenu-opened-desktop;
      }
    }
  }

  // if the rightmost menu item has children
  // cheat the subnav left
  // UNDO this on wide
  .navbar-nav > .menu-item:last-of-type {
    &.menu-item-has-children {
      &.show, &.hover {
        &> .open-submenu-a + .sub-menu {
           left: unset;
           right: 0;
        }
      }
    }
  }



  // 4. Toggle - large
  .navbar-toggler { display: none; }



  // 5.  Hovers - large
  %navlines-basic {
    width: 0;
    height: .05rem;
    background: $teal;
    content: '';
    display: block;
    position: absolute;
     left: 50%;
     bottom: .7rem;
    @include transition(width .2s ease-in-out, left .2s ease-in-out);
  }


  .navbar-nav>.menu-item:not(.menu-item-has-children)>[href]:not([tabindex]):hover,
  .navbar-nav>.menu-item>.sub-menu .menu-item>[href]:not([tabindex]):hover {
    background: none;
  }


  // 5a. Top Level - no children
  #navmenu .nav-main-menu > [id*="menu-item"] {

  //  [href] { &:before, &:after { @extend %navlines-basic; } }

    &.show, &.hover {
      background: none;
      [href] {
        &:before, &:after { width: calc(50% - #{$padding-left}); }
        &:before { left: $padding-left;  }
        &:after { left: 50%; }
      }
    }

  }


  %top-level-no-children-before-after { &:before, &:after {  @extend %navlines-basic; }  }




  //    application

  %top-level-no-children-hover {


    &.show, &.hover {
      &> [href]:not([tabindex]) {
        &:before { left: $padding-left; }
        &:before { background: $teal; }
        &:after { background: $teal; }
      }
    }

    &> [href]:not([tabindex]) {

      &:before, &:after { @extend %navlines-basic; }

      @include hover {
        background: inherit; // undo mobile
      }
    }
  }




  // 5b. Top Level - has children

  //     extension
  %top-level-has-children-before-after {
    &:before { left: $padding-left; }
    &:after { left: calc( 50% - ( ( #{$padding-right-has-children} - #{$padding-left} ) / 2 ) ); }
    &:before, &:after {
      width: calc( ( 100% - #{$padding-left} - #{$padding-right-has-children} ) / 2 );
    }
  }

  //     application
  %top-level-has-children-hover {

    &.show, &.hover {
      &> [href]:not([tabindex]) {
        @extend %top-level-has-children-before-after;
      }
    }


    &> [href]:not([tabindex]) {
      //&:before, &:after { @extend %navlines-basic; }
      @include hover {
        background: inherit; // undo mobile
        @extend %top-level-has-children-before-after;
      }
    }
  }

  // 5c. Children
  %child-level-hover {
    &> [href]:not([tabindex]) {
      @include transition(background .2s ease-in-out);
      @include hover { background: #dedede; }
      &:before, &:after { display: none; }
    }
  }



  // 6. Current - large

  // get rid of dot
  %current-top-level-childless:before { display: none; }
  // add underlines
  %current-top-level-childless > [href]:not([tabindex]) {

    &:before, &:after {
      @extend %navlines-basic;
      width: calc(50% - #{$padding-left});
    }
    &:before { left: $padding-left;  }
    &:after { left: 50%; }
  }

  // get rid of dot
  %current-top-level-parent:before { display: none; }
  // add underlines
  .navbar-nav > .menu-item.current-menu-ancestor > [href]:not([tabindex]),
  %current-top-level-parent > [href]:not([tabindex]) {
    @extend %top-level-has-children-before-after;
  }

  // position and style child dot
  %current-child:before {
    width: .35rem;
    height: .35rem;
    border-radius: .175rem;
     top: 1.32rem;
     left: 1.05rem;
  }



  // 7. Nav Search Form - large
  #navmenu .search {
    width: 0;
    background: none;
    height: $headerh;
    line-height: calc( #{$headerh} * 1.45 );
  }

  #navmenu [href="#display-search"] {
    width: 2rem;
    height: 2rem;
    display: inline-block;

    position: absolute;
     top: 1.666rem;
     right: -29rem;

    // magnifying glass
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill='%23f3f3f4' d='M11.077 6.77c0-1.187-.422-2.2-1.265-3.044-.842-.843-1.857-1.264-3.042-1.264-1.187 0-2.2.421-3.044 1.264-.843.843-1.264 1.857-1.264 3.044 0 1.186.421 2.2 1.264 3.043.844.843 1.857 1.265 3.044 1.265 1.186 0 2.2-.422 3.043-1.265s1.264-1.858 1.264-3.043zm4.923 8c0 .333-.122.621-.365.865a1.185 1.185 0 01-.865.365c-.347 0-.635-.122-.865-.365l-3.299-3.289a6.581 6.581 0 01-3.836 1.192 6.662 6.662 0   01-2.63-.533 6.767 6.767 0 01-2.164-1.442A6.797 6.797 0 01.533 9.399 6.665 6.665 0 010 6.77c0-.917.178-1.794.533-2.63a6.786 6.786 0 011.443-2.164A6.786 6.786 0 014.14.533 6.662 6.662 0 016.77 0 6.67 6.67 0 019.4.533a6.78 6.78 0 012.163 1.442 6.767 6.767 0 011.442 2.164c.355.836.533 1.713.533 2.63 0 1.41-.397 2.688-1.192 3.836l3.299 3.299c.237.237.355.526.355.866z'/%3E%3C/svg%3E");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include transition(background-image .2s ease-in-out);

    // magnifying glass red on hover
    @include hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill='%2335bdb6' d='M11.077 6.77c0-1.187-.422-2.2-1.265-3.044-.842-.843-1.857-1.264-3.042-1.264-1.187 0-2.2.421-3.044 1.264-.843.843-1.264 1.857-1.264 3.044 0 1.186.421 2.2 1.264 3.043.844.843 1.857 1.265 3.044 1.265 1.186 0 2.2-.422 3.043-1.265s1.264-1.858 1.264-3.043zm4.923 8c0 .333-.122.621-.365.865a1.185 1.185 0 01-.865.365c-.347 0-.635-.122-.865-.365l-3.299-3.289a6.581 6.581 0 01-3.836 1.192 6.662 6.662 0   01-2.63-.533 6.767 6.767 0 01-2.164-1.442A6.797 6.797 0 01.533 9.399 6.665 6.665 0 010 6.77c0-.917.178-1.794.533-2.63a6.786 6.786 0 011.443-2.164A6.786 6.786 0 014.14.533 6.662 6.662 0 016.77 0 6.67 6.67 0 019.4.533a6.78 6.78 0 012.163 1.442 6.767 6.767 0 011.442 2.164c.355.836.533 1.713.533 2.63 0 1.41-.397 2.688-1.192 3.836l3.299 3.299c.237.237.355.526.355.866z'/%3E%3C/svg%3E");
    }


    // change magnifying glass to an x
    &[aria-pressed="true"] {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23f3f3f4' d='M15.71 13.584l-2.121 2.121-5.73-5.73-5.738 5.738L0 13.592l5.738-5.738L.006 2.122 2.127 0l5.732 5.731L13.582.007l2.122 2.122L9.98 7.854l5.73 5.73z'/%3E%3C/svg%3E");

      @include hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%2343ba81' d='M15.71 13.584l-2.121 2.121-5.73-5.73-5.738 5.738L0 13.592l5.738-5.738L.006 2.122 2.127 0l5.732 5.731L13.582.007l2.122 2.122L9.98 7.854l5.73 5.73z'/%3E%3C/svg%3E");
      }
    }

    &[aria-pressed="false"] + #nav-search + .hidden + #post_type + .search-submit {
      display: none;
    }
  }

  // 7b. Show/hide form on click of [href="#display-search"]
  @include keyframes(show_search) {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  #navmenu.search-input {
    padding: .938rem 5rem .938rem 1.9rem
  }

  #navmenu.show, #navmenu:not(.show)  {

    [href="#display-search"] + .search-input,
    [href="#display-search"] + .search-input + .search-submit {
      opacity: 0;
    }

    [href="#display-search"][aria-pressed="true"] {

      &+ .search-input,
      &+ .search-input + .search-submit {
        opacity: 1;
        display: block;
        position: absolute;
      }

      &+ .search-input {
        width: 20rem;
         top: calc(#{$headerh} + .05rem);
         right: -29rem;
        box-shadow: 0 0 0.4rem rgba(0,0,0,.3);
        @include animation(show_search, ease-in-out, 1, .3s);
      }

      &+ .search-input + .search-submit {
         top: calc( #{$headerh} + .95rem);
         right: -28rem;
        @include animation(show_search, ease-in-out, 1, .3s);
      }
    }
  }


  // 8. tippy top
  #navmenu { position: relative; }

  #navmenu .navbar-nav.nav-offsite-menu {
    height: unset;
    line-height: unset;
    position: absolute;
     top: 1rem;
     right: 0;

    &:after {
      width: 100%;
      height: .05rem;
      background: $green;
      content: '';
      position: absolute;
       right: .9rem;
       bottom: .5rem;
    }

    .menu-item >[href]:not([tabindex]) {
      @include transform(0deg, 1, 0, 0, 0);
      @include transition(color .2s ease-in-out);

      @include hover {
        color: $sea;

        // @mixin transform($rotate, $scale, $skew, $translatex, $translatey)
        @include transform(0deg, 1, -10deg, 0, 0);
      }
    }
  }

  .nav { float: right; }
  .logo-img { max-width: 27rem; height: auto; }



  // Hero - large
  .gutenberg-container > .wp-block-cover { min-height: 35rem; }



  // Structure - large
  //$container: 57rem;
  $container: calc(100% - 3rem);
  %container { width: $container; }


  // Structure - large
  %container-corset {
    max-width: 47rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }


  %container-gutter { margin-right: auto; margin-left: auto; }


  .container.container-search-results-header,
  .container.filters-caveat {
    width: unset;
    padding-right: 0;
    padding-left: 0;
  }


  .deck,
  .wp-block-pullquote,
  .core-paragraph > .gutenberg-container {
    max-width: 47rem;
  }


  .gutenberg-container > .corset.search-corset {
    max-width: 100%;
  }


}





// Wide devices - Extra large devices (large desktops, 79rem and up)
//@media (min-width: 75rem) {
@media (min-width: 79rem) {


  // Structure - wide
  //$container: 70rem;
  //$container: 76rem;
  $container: 73rem;
  %container { width: $container; }


  %container-wide { width: calc(#{$container} - 3rem); margin-right: auto; margin-left: auto; }

  %container-corset { width: 60rem; }

  %container-gutter { width: calc( #{$container} - 3rem); }

  .site-header > .gutenberg-container { width: $container; margin-right: auto; margin-left: auto; }

  .page-template #search-results > .container { width: unset; }





  // Header - wide
  $headerh: 10rem;

  .site-header {
    width: 100%;
    background: $navy;
    padding-right: .5rem;
    padding-left: .5rem;
    position: fixed;
     top: 0;
    z-index: 100;
  }

  .logo-img { max-width: unset; }

  #navmenu .navbar-nav > .menu-item { padding-right: 1.44rem; }
  #navmenu .nav-main-menu, #navmenu .nav-offsite-menu { margin-right: -1.44rem; }
  #navmenu .navbar-nav.nav-offsite-menu:after { right: 1.8rem; }

  #navmenu .nav-search { right: 26.5rem; }
  #navmenu [href="#display-search"] { right: -29rem; }

  // has admin bar
  .logged-in.admin-bar .site-header { top: 32px; }

  [data-role="main"] { padding-top: $headerh; }

}




// Ultra wide
@media (min-width: 88rem) {
  // Nav - ultra wide
  // undoing what was done in large
  .navbar-nav > .menu-item:last-of-type {
    &.menu-item-has-children {
      &.show, &.hover {
        &> .open-submenu-a + .sub-menu {
           left: -1rem;
           right: unset;
        }
      }
    }
  }
}
