// Archive - style.css
// Search results (from nav icon)
// Advanced Search results


// Grid display (Home, Events)
// apply to the [href] of the grid's image
%grid-display {
  @extend %remove-link-line;

  max-width: 35rem;
  display: block;
  margin-bottom: .5rem;

  @include linkgradient(transparent);
  @include hover { @include linkgradient(transparent); }

  .icon-wrapper-div {
    width: 100%;
    padding: 16.995% 0;
    @include flex;
    @include justify-content(center);
    @include align-items(center);
  }


  // NO featured image
  &.-icon { @include hover { background: $blue2; } }


  // events WITH a featured image
  &.-photo {
    position: relative;

    &:before {
      width: 100%;
      height: 100%;
      background: transparent;
      content: '';
      display: block;
      opacity: .5;
      position: absolute;
       left: 0;
       top: 0;
    }

    .img { max-width: 100%; }

    @include hover { &:before { background: $blue2; } }
  }
}


// Apply to title [href] in grid display
%grid-title {
  background-position: 1.5rem 100%;
  background-size: calc(100% - 1.5rem);

  @include hover {
    background-size: 0;

    .title-icon { background: $sea; }
  }

  &+ .p { padding-left: 1.5rem; }
}

[data-role="main"] {
  .wp-block-group.navy-bg, .wp-block-group.night-bg {
    .resource-article-a[href]:not([href="#"]) {
      @extend %grid-title;
    }
  }
}



// Homepage
[data-role="main"] {
  .wp-block-group.navy-bg, .wp-block-group.night-bg {
    .resource-img-a[href]:not([href="#"]) {
      @extend %grid-display;

      &.-icon { background: $blue2; }

      &.-icon { @include hover { background: $sea; } }


      &.-photo { @include hover { &:before { background: $sea; } } }
    }
  }
}




// Blog nav shows current when viewing archive / single / etc. pages

// change menu id as needed
.single, .archive {
  li#menu-item-96 {
    //@extend %current-top-nav;
  }
}




// Search and Archive display
[id*="post-"] { padding: 0; }

[id*="post-"]:after {
  clear: both;
  content: '';
  display: block;
}





/*
[data-role="main"] .resource-article-a[href] {


  @include hover {
    .title-icon {
      background-color: $sea;
    }
  }
}
*/



.title-icon {
  width: 1.25rem;
  background-color: transparent;
  border-radius: .6rem;
  display: inline-block;
  padding: .2rem;
  position: relative;
   top: .1rem;
}



$hentry-border: 1px;
$hentry-top: -1px;


//.search, .archive {
.picture-div { display: inline-block; }


.search, .archive, .page-template {
  [data-role="main"] .hentry > [href].no-excerpt { padding-bottom: 0; }
}




.search, .archive, .page-template {
  [data-role="main"] {
    .hentry {
      &> [href] {
        @extend %remove-link-line;

        background: transparent;
        display: block;
        padding-bottom: 1.1rem;


        @include hover {
          //background: $mist;
          //background: white;
          background: $mist2;

          &:before { background-size: calc(100% + 3rem) 100%; background-position: 0 0; }
          .archive-icon { background: $blue2; }
        }

        &:before {
          @include top-btm-border($gray);
          height: calc(100% + #{$hentry-border});
          background-repeat: no-repeat;
          content: '';
          display: block;
          position: absolute;
           top: $hentry-top;
           left: 0;
          z-index: 1;
        }
      }

      .archive-h2 {
        display: inline;
        margin-top: 0;

        &:before {
          display: block;
          content: '';
          height: 1.3rem;
        }
      }


    }
  }
}


.archive-icon {
  width: 1.25rem;
  background: $night;
  display: inline-block;
  padding: .2rem;
  border-radius: .6rem;
}





// Pagination - Archive
.pagination.-archive {
  padding: 2rem 0;
  font-size: 1.2rem;
  text-align: center;

  [href], [aria-current] {
    min-width: 1.5rem;
    display: inline-block;
  }

  .current {
    border-radius: 50%;
    color: white;
    position: relative;
  }

  .current:after {
    display: block;
    content: '';
    position: absolute;
     top: -.04rem;
     left: 0;
    width: 1.5rem;
    height: 1.5rem;
    z-index: -1;
    border-radius: .75rem;
  }
}

.pagination.-archive .current { background: $night; }



// Advanced Search Results
// Our Work
#search-results {

  .hentry > [href]:before { width: 100%; background-position: 1.5rem 0; background-size: calc(100% - 3rem) 100%; }

  .hentry > [href] {
    @include hover {

      &:before {
        background-position: 0 0;
        background-size: 100% 100%;
      }
    }
  }

  .meta-type { display: none; }

  &> .container { width: unset; }
}



// Our Work Advanced Search
// Archive pages
.page-template,
.search-results,

.archive {
  [data-role="main"] .hentry {
    .nowrap { display: inline; }
    .nowrap > .archive-h2:before { display: none; }
  }
}



.archive, .search-results, .search-no-results, .page-template {

  .archive-a .archive-img {
    padding-top: .9rem;
  }

  .picture.-photo { width: 17.5rem; display: block; position: relative; }

  .picture.-photo:before {
    width: 100%;
    height: 100%;
    background: $blue2;
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
     top: 0;
     left: 0;
  }

  .no-img, .picture.-icon {
    width: 17.5rem;
    height: 9.375rem;
  }

  .picture.-icon {
    background: $night;

    @include flex;
    @include justify-content(center);
    @include align-items(center);
  }
}



[data-role="main"] .hentry > [href] {
  @include hover {
    .picture.-photo:before { opacity: .7; mix-blend-mode: multiple; }
    .picture.-icon         { background: $blue2; }
  }
}

// add some padding on Our Work / Advanced Search in-page results
.page-template .archive-title-excerpt          { padding-bottom: 1.44rem; }
//.archive-title-excerpt.-no-meta { padding-bottom: 0; }






%calendar-icon {
  width: 6.25rem;
  height: 6.25rem;
  background-position: 50% 50%;
  display: block;
}


.search, .archive {

  [data-role="main"] .hentry.type-events > [href] .icon-wrapper-div {
    width: 17.5rem;
    height: 9.375rem;
    background: $night;
    @include flex;
    @include justify-content(center);
    @include align-items(center);
  }

  [data-role="main"] .hentry.type-events > [href] {
    @include hover {
      .icon-wrapper-div {
        background: $blue2;
      }
    }
  }

  [data-role="main"] .hentry.type-events > [href] .calendar-icon { @extend %calendar-icon; }

  .resource-meta { padding-top: 1rem; }
}


// Advanced Search Results
[data-role="main"] h1.search-results-h1 {
  font-weight: 400;
  float: left;
  margin-top: 0;
  margin-bottom: 0;

  &.-initial, &.-no-filters {
    padding-bottom: 1.5rem;
  }
}

// padding above titles in Advanced Search Results
.search-columns .wp-block-column > .core-shortcode {
  padding-top: 2.44rem;
}


.filter-buttons {
  padding-bottom: 1.5rem;

  &> [href] {
    @extend %remove-link-line;
    color: $land3;
    display: inline-block;
    margin-bottom: .15rem;
    padding: .3rem .5rem .3rem 1.15rem;
    position: relative;
    text-transform: uppercase;

    &:before {
      width: .9rem;
      height: .9rem;
      content: '';
      display: block;

      background-color: $land3;

      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' overflow='visible' xml:space='preserve'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFF' d='M9.047 7.983 7.985 9.047 4.533 5.596l-3.47 3.47L0 8.003l3.471-3.471L0 1.062 1.063 0l3.47 3.47L7.985.019l1.062 1.063-3.451 3.45 3.451 3.451z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;

      background-position: 50% 50%;
      background-size: .4rem;

      border-radius: .45rem;

      position: absolute;
       top: .5rem;
       left: 0;
    }

    @include hover {
      color: $land;
      &:before { background-color: $land; }
    }
  }
}
