// Forms - css/style.css


input {

  &[type="text"],
  &[type="color"],
  &[type="date"],
  &[type="datetime-local"],
  &[type="email"],
  &[type="file"],
  &[type="image"],
  &[type="month"],
  &[type="number"],
  &[type="password"],
  &[type="radio"],
  &[type="range"],
  &[type="search"],
  &[type="tel"],
  &[type="time"],
  &[type="url"],
  &[type="week"]
  //button
  //checkbox
  //hidden
  //reset
  //search
  //submit
   {
    border-top: none;
    border-right: none;
    border-bottom: .05rem solid lightgray;
    border-left: none;
    font-size: 1em;
    margin: 0;
    padding: .5rem .1rem;

    -webkit-appearance: none;
  }



  // buttons
  //&[type="search"],
  &[type="reset"],
  &[type="submit"] {
    @extend %button;
  }
}


label { line-height: 1.8; }





// Login form
#loginform {
  label, input[type="text"], input[type="password"], input[type="submit"] {
    display: block;
  }


  input[type="text"], input[type="password"] {
    min-width: 18rem;
    display: block;
    margin-bottom: 1rem;
  }

  input[type="submit"] { margin-top: 2rem; }
}
