// Resources + Events - css/style.css


[data-role="main"] [href].resource-img-a {
  max-width: 35rem;
  display: block;
  margin-bottom: .5rem;
  @include linkgradient(transparent);
  @include hover { @include linkgradient(transparent); }
}


// .resource-img-wrapper = wrapped around <picture> AND <div>
%single-img-wrapper { display: block; padding-bottom: .75rem; }

.single .resource-img-wrapper { @extend %single-img-wrapper; }



.icon-thumb .resource-img-wrapper { padding: 26.785% 0; }

.resource-img-wrapper {
  .img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  &.default-resource-icon-div .img {
    width: 5rem;
    height: 5rem;
  }
}


// hovers
.resource-img-a {

  // photo (overlay)
  &.photo-thumb {
    position: relative;

    &:before {
      width: 100%;
      height: 100%;
      display: block;
      content: '';
      background: $blue2;
      opacity: 0;
      position: absolute;
       top: 0;
       left: 0;
    }

    @include hover {
      &:before {
        opacity: .7;
      }
    }
  }



  // icon
  @include hover {
    .default-resource-icon-div {
      background-color: $blue2;
    }
  }
}

.default-resource-icon-div {
  width: 100%;
  height: 12rem;
  background: $navy;
  //padding: 2rem 0;
  @include flex;
  @include justify-content(center);
  @include align-items(center);
}


.col-article { margin-bottom: 2rem; }

.col-article .p:first-of-type { margin-top: 0; }


[data-role="main"] .resource-article-a[href]:not([href="#"]) {
  background-size: calc(100% - 1.4rem) 100%;

  @include hover { background-size: 0 100%; }


  .icon {
    width: 1.2rem;
    background-color: $navy;
    border-radius: .6rem;
    display: inline-block;
    padding: .2rem;
    @include transition(background-color .2s ease-in-out);
  }

  @include hover { .icon { background-color: $teal; } }

}


.navy-bg .resource-img-a.photo-thumb:before { background: $teal; }
.navy-bg .resource-img-a {
  .default-resource-icon-div { background: $blue2; }
  @include hover { .default-resource-icon-div { background: $teal; } }
}



// Events
.event-col .date {
  text-transform: uppercase;
}




// . . . . . . . . . . . . . . . . . . . . . . . . //

// Resource  single
.single-post [data-role="main"] { background: $mist; }

.breadcrumb + * { margin-top: 0; }

.resource-single-h1 { color: $night; margin-top: 1.5rem; margin-bottom: .5rem; }

.single-post [data-role="main"] > .container:first-of-type { padding-top: 2rem; }

.breadcrumb-ol { list-style-type: none; margin: 0; padding: 0; }

.breadcrumb-li { @extend %small; display: inline-block; padding-right: 2rem; position: relative; text-transform: uppercase; }

.breadcrumb-li:not([data-li-current]):after {
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: .4rem;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' overflow='visible' xml:space='preserve'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23181343' d='m18.892 14.175.253.329-1.242.956-.188.244-.065-.05L1.83 27.83 0 25.453l15.19-11.691L.4 2.377 2.229 0l17.314 13.326-.651.849z'/%3E%3C/svg%3E");

  content: '';
  position: absolute;
   right: .5rem;
   top: .35rem;

}


[data-role="main"] .breadcrumb-li [data-a][href]:not([href="#"]) { color: $sky; }

[data-role="main"] .breadcrumb-li [href]:not([href="#"]) { @extend %remove-link-line; }




// Single - share
.msb-container { @include flex; @include align-items(center); margin-bottom: .5rem; }

.msb-container > * { margin-top: 0; }

.msb-container p { @include flex; }

[data-role="main"] .h2-share { font-size: 1rem; margin-bottom: -.1rem; }

.h2-share { color: $night; margin-top: 0; margin-right: .75rem; }

$socialsize: 2.5rem;

.minimal-share-button {
  width: $socialsize;
  height: $socialsize;
  display: inline-block;
  margin-top: .2rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

.msb-container  > p { position: relative; }

[data-role="main"] .minimal-share-button[href] {
  @extend %remove-link-line;
  position: relative;

  @include flex;
  @include align-items(center);
  @include justify-content(center);
}

[data-role="main"] .minimal-share-button[href] + p {
  min-width: 13rem;
  background: black;
  color: white;
  margin-top: 0;
  position: absolute;
   top: 3rem;
   right: 0;
  opacity: 0;
  padding: .3rem .4rem;
  z-index: 999;

  @include transition(opacity 2s ease-in-out);

  &.appear {
    opacity: 1;
    @include transition(opacity .5s ease-in-out);
  }
}


$msb-icon-size: 1rem;

.msb-container .icon {
  width: $msb-icon-size;
  height: $msb-icon-size;
  fill: black;

  @include transition(fill .2s ease-in-out);
  @include hover { fill: $blue2; }
}


#copy-link .icon {
  width: calc( #{$msb-icon-size} - .1rem);
  height: calc( #{$msb-icon-size} - .1rem);

  @include transition(background-color .2s ease-in-out);
  @include hover { background-color: $blue2; }

  background-color: black;
  border-radius: .3rem;
  background-size: .65rem;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='-0.001 0.498 23 23' overflow='visible' xml:space='preserve'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23E6E7E8' d='m21.261 10.133-3.629 3.628a5.674 5.674 0 0 1-.53.471 5.877 5.877 0 0 1-3.662 1.27 5.904 5.904 0 0 1-4.673-2.271 1.249 1.249 0 0 1 .21-1.756c.521-.411 1.346-.312 1.756.211.085.107.176.21.273.307 1.3 1.299 3.562 1.301 4.861.002l3.626-3.628a3.438 3.438 0 0 0 0-4.86c-1.299-1.298-3.562-1.298-4.861 0l-2.999 3a1.25 1.25 0 0 1-.874.357h-.001c-.325 0-.634-.125-.868-.352a1.246 1.246 0 0 1-.029-1.768l3.007-3.006A5.894 5.894 0 0 1 17.065 0c1.584 0 3.075.617 4.196 1.738s1.74 2.611 1.74 4.197-.619 3.077-1.74 4.198zm-7.028-.363c.207.262.299.589.258.92a1.24 1.24 0 0 1-.468.836c-.521.41-1.346.312-1.757-.211a3.443 3.443 0 0 0-.272-.308c-1.3-1.302-3.562-1.3-4.86-.001l-3.627 3.626a3.441 3.441 0 0 0 0 4.861c1.3 1.298 3.563 1.298 4.861 0l3-3c.59-.555 1.364-.471 1.816.013.47.504.441 1.297-.063 1.767l-2.986 2.988a5.899 5.899 0 0 1-4.197 1.74c-1.586 0-3.077-.619-4.198-1.74S0 18.648 0 17.064c0-1.587.617-3.076 1.738-4.197l3.628-3.629c.168-.168.346-.326.532-.472a5.88 5.88 0 0 1 3.663-1.268c1.836 0 3.54.828 4.672 2.272z'/%3E%3C/svg%3E");
}


// Meta
.resource-below-hero { padding-bottom: 2rem; }

.resource-meta { font-size: 1rem; text-transform: uppercase; }

.resource-meta, .resource-meta [href] { color: $night; }

.resource-meta [class*="meta"] + [class*="meta"], .resource-pdf { padding-top: .5rem; }

[data-role="main"] .meta-h2 {
  display: inline-block;
  font-size: 1rem;
  margin-top: 0;
}

.resource-pdf [href] {
  position: relative;

  @include hover { &:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='32' overflow='visible' xml:space='preserve'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h26v31.571H0z'/%3E%3C/defs%3E%3Cpath fill='%23251AA7' d='M26 25.071v5.571a.93.93 0 0 1-.929.929H.929A.929.929 0 0 1 0 30.643v-5.571a.93.93 0 0 1 .929-.929h24.143c.512 0 .928.416.928.928m-13.617-4.877a.93.93 0 0 0 1.234 0l8.357-7.429a.93.93 0 0 0-.617-1.624h-5.571V.929A.928.928 0 0 0 14.857 0h-3.715a.928.928 0 0 0-.928.929v10.214H4.643a.928.928 0 0 0-.617 1.623l8.357 7.428z'/%3E%3C/svg%3E");
  } }
}

.resource-pdf [href]:after {
  width: 1.2rem;
  height: 1rem;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='32' overflow='visible' xml:space='preserve'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h26v31.571H0z'/%3E%3C/defs%3E%3Cpath fill='%23181244' d='M26 25.071v5.571a.93.93 0 0 1-.929.929H.929A.929.929 0 0 1 0 30.643v-5.571a.93.93 0 0 1 .929-.929h24.143c.512 0 .928.416.928.928m-13.617-4.877a.93.93 0 0 0 1.234 0l8.357-7.429a.93.93 0 0 0-.617-1.624h-5.571V.929A.928.928 0 0 0 14.857 0h-3.715a.928.928 0 0 0-.928.929v10.214H4.643a.928.928 0 0 0-.617 1.623l8.357 7.428z'/%3E%3C/svg%3E");

  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  content: '';
  display: inline-block;

  @include transition(background-image .2s ease-in-out);
}


[data-role="main"] [id*="post-"] { color: $night; }

[data-role="main"] [id*="post-"] .core-heading h2 { @extend %medium; text-transform: none;  }

[data-role="main"] [id*="post-"] p { font-family: 'Open Sans', serif; @extend %resource-text;}



// Resource Single - Related Articles
[data-role="main"] .related-articles {
  background: $night;
  color: white;
  padding: 1.5rem 0 2.5rem;

  [href] {
    @extend %link-line;
    color: white;
    @include linkgradient(transparent);

    @include hover {
      color: $sky;
      @include linkgradient(transparent);
    }
  }

  .ul { margin: 0; }
  .li > [href] { padding: .2rem 0; display: inline-block; }
  .li:first-of-type > [href] { margin-top: .5rem; }
  .li:not(:last-of-type) > [href] { margin-bottom: 1rem; }

  //.ul + .-small-h2 { padding-top: 2rem; }

  .col-md-6 + .col-md-6 { padding-top: 2rem; }
}
