// Forms - css/style.css


%input {
  @extend %text;

  max-width: 100%;

  border-top: none;
  border-right: none;
  border-bottom: .05rem solid lightgray;
  border-left: none;
  border-radius: 1rem;

  font-family: 'mreaves', sans-serif;
  margin: 0;
  padding: .5rem 1rem;

  -webkit-appearance: none;

  @include placeholder { color: $gray; }
}


textarea { @extend %input; }



input {

  //button
  //checkbox
  //hidden
  //reset
  //search
  //submit

  &[type="text"],
  &[type="color"],
  &[type="date"],
  &[type="datetime-local"],
  &[type="email"],
  &[type="file"],
  &[type="image"],
  &[type="month"],
  &[type="number"],
  &[type="password"],
  /* &[type="radio"], */
  &[type="range"],
  &[type="search"],
  &[type="tel"],
  &[type="time"],
  &[type="url"],
  &[type="week"] {
    @extend %input;
  }


  // buttons
  //&[type="search"],
  &[type="reset"],
  &[type="submit"] {
    @extend %button;
  }
}


input[type="submit"] {
  background: $land;
  border: 0.15rem solid $land;
  color: white;

  @include hover { background: $land2; border: 0.15rem solid $land2; color: white; }
}







// Login form
#loginform {
  label, input[type="text"], input[type="password"], input[type="submit"] {
    display: block;
  }

  input[type="text"], input[type="password"] {
    min-width: 18rem;
    display: block;
    border-radius: 0;
    margin-bottom: 1rem;
  }

  input[type="submit"] { margin-top: 2rem; }
}





// Advanced Search form
.advanced-search-row > [class*="col"] {
  margin-bottom: 1rem;
}


.sort-div {
  float: right;
  padding-top: 0;

  .select {
    font-family: 'mreaves', sans-serif;
    background-color: white;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='10' overflow='visible' xml:space='preserve'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h16.849v10.425H0z'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' overflow='visible'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23b)' fill='%2335BDB6' d='M8.425 10.425a.996.996 0 0 1-.75-.339L.25 1.662A1.001 1.001 0 0 1 1.751.339l6.674 7.573L15.1.339a1 1 0 0 1 1.5 1.322l-7.425 8.425a.998.998 0 0 1-.75.339z'/%3E%3C/svg%3E");
    background-position: calc(100% - 1rem) 50%;
    background-repeat: no-repeat;
    background-size: 1rem;

    border: none;
    padding-left: .5rem;
    padding-right: 2.44rem;
    text-align: left;

    -webkit-appearance: none;
  }
}




.search-form {

  .select, .input {
    width: 100%;
    background: $mist;
  }

  #search-input {
    padding-left: 1rem;
    padding-right: 2rem;
    @include placeholder { color: $nearblack; }
  }

  .search-submit {
    @extend %button;
    background: $land3;
    color: white;
    border-color: white;

    @include hover {
      color: white;
      background: $land;
    }
  }


  .select {
    height: 2.4rem;
    border: none;
    font-family: 'mreaves', sans-serif;
    padding-top: .6rem;
    padding-bottom: .5rem;
    padding-left: 1rem;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='10' overflow='visible' xml:space='preserve'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h16.849v10.425H0z'/%3E%3C/defs%3E%3CclipPath id='b'%3E%3Cuse xlink:href='%23a' overflow='visible'/%3E%3C/clipPath%3E%3Cpath clip-path='url(%23b)' fill='%2335BDB6' d='M8.425 10.425a.996.996 0 0 1-.75-.339L.25 1.662A1.001 1.001 0 0 1 1.751.339l6.674 7.573L15.1.339a1 1 0 0 1 1.5 1.322l-7.425 8.425a.998.998 0 0 1-.75.339z'/%3E%3C/svg%3E");
    background-position: calc(100% - 1rem) 50%;
    background-repeat: no-repeat;
    background-size: 1.4rem;

    -webkit-appearance: none;
  }


  .search-submit {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .select [value] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
  }
}


.search-form:not(.search-compact) {
  .search-submit {
    margin-top: 2rem;
  }
}



// Search Form Compact
.search-compact {
  padding-top: 1.44rem;
}



// Search Results
.page .search-results-h1 { font-weight: 400; margin-top: 0; }

.sidebar-h2 { margin-top: 0; }
.sidebar-h3 {
  text-transform: uppercase;
  position: relative;
  color: $night;
  @include hover { color: $blue2; }

  [href] {
    display: inline-block;
    padding-left: 1rem;

    @include hover {
      &:before {
        color: $blue2;
      }
    }
  }
}


[data-role="main"] .sidebar-h2 { margin-top: .1rem; }

.sidebar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Sidebar toggles
.core-shortcode [id*="-toggle"] { display: none; -webkit-appearance: none; }




.core-shortcode [id*="-toggle"] {

  // clicks
  &:not(:checked) + .sidebar-h3 + .sidebar-ul-div { overflow: hidden; max-height: 0; }
  &:not(:checked) + .sidebar-h3:before { content: '+'; }

  &:checked {
    &+ .sidebar-h3:before { content: '\2012'; }
  }

  &:checked {
     &+ .sidebar-h3 + .sidebar-ul-div { max-height: unset; }
  }
}




// looks like an h3 but this is actually a checkbox label
.sidebar-h3 {
  display: inline-block;
  margin-top: 1rem;
  padding-left: 1rem;
  position: relative;

  &:before {
    display: block;
    position: absolute;
     top: 0;
     left: 0;
  }

  @include hover { color: $blue2; cursor: pointer; }
}

.sidebar-li > [href] {
  margin-left: 1rem;
  padding: .3rem 0 .1rem 0;
  display: inline-block;
}

[data-role="main"] .sidebar-li > [href] {
  @extend %remove-link-line;
}


.wp-block-column.border-right {
  border-right: .05rem rgba(140,137,161, .5) solid;
}



// Compact Search
.search-form.search-compact {
  padding-bottom: .35rem;

  input[type="search"] {
    border-bottom: unset;
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  .select {
    background-size: .6rem;
    background-position: calc(100% - .5rem) 50%;
  }

  [type="submit"] {
    width: 100%;
    max-width: 10rem;
    padding: .7rem .2rem;
  }
}


// Advanced Search Trigger
// Advanced Search Drawer
#advanced-search-trigger {
  width: 100%;
  background: $land3;
  text-align: center;

  [href] {
    color: white;
    display: inline-block;

    &:after {
      display: inline-block;
      width: 100vw;
      height: 1em;
      content: 'ADVANCED SEARCH \00a0 \00a0';

      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23FFF' d='M19.679 0L10.2 11.924 0 0h19.679z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: .5em;
      background-position: calc(50% + 4.3em) .55em;
    }
  }

  &.-show [href]:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' overflow='visible' xml:space='preserve'%3E%3Cpath fill='%23FFF' d='M0 11.924 9.479 0l10.2 11.924H0z'/%3E%3C/svg%3E");
  }

  @include hover {
    background: $land;
  }
}


#advanced-search-trigger {
  padding-top: .64rem;
  padding-bottom: .64rem;
}

#advanced-search-trigger:not(.-show) + #advanced-search-container {
  max-height: 0;
  overflow: hidden;
}

#advanced-search-trigger.-show + #advanced-search-container {
  max-height: unset;
  overflow: visible;
}





// Gravity Forms
.gfield {
  border: none;
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}


#gform_wrapper_1 {
  .gform_heading { padding-top: 2rem; }
  .gfield_label { display: none; }


  #field_1_10 { @include flex; @include flex-direction-col; }
  #field_1_10 .gfield_label { float: left; }

  #field_1_10 .gfield_label { display: inline-block; }
  #field_1_10 .gfield_label:after { content: '*'; display: inline-block;}
  #field_1_10 .gfield_required.gfield_required_text { display: none; }
  #field_1_10 .gfield_radio { @include flex; @include flex-direction-col; }

  [for*="input_"] { display: none; }

  [class*="name_"],
  [class*="name_"] > [type="text"],
  .ginput_container_email > [type="text"] { width: 100%; }
}


.ginput_container_textarea { padding-top: 1rem; }
.ginput_container_textarea > .textarea { width: 100%; min-height: 15rem; }



[type="radio"] {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: .5rem;
  background: white;

  &:checked { position: relative; }

  &:checked:before {
    width: .4rem;
    height: .4rem;
    background: $night;
    border-radius: .2rem;
    content: '';
    display: block;
    position: absolute;
     top: .3rem;
     left: .29rem;
  }
}


.ginput_container_name > [class*="name"] + [class*="name"] {
  display: inline-block;
  padding-top: .78125rem;
}


.gform_footer { padding-top: 2rem; }


body .gform_wrapper .gform_validation_container {
    display: none;
}





// Ask a Question
#gform_wrapper_2 {
  width: calc(100% + 3rem);
  background: $night;
  color: white;
  margin-left: -1.5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;

  [for*="input"] { display: none; }

  .gform-body { padding-top: 2rem;}

  .ginput_container_email > [type="text"] { width: 100%; }
}
