// Support + Stripe
// css/style.css


.-support {
  background: $sea;
  color: $night;

  &> .container > .core-heading > .gutenberg-container {
    &> h1, &> h2, &> h3, &> h4, &> h5, &> h6 { margin-bottom: 0; }
    &> h1, &> h2, &> h3 { padding-bottom: 1rem; }
  }
}

[data-role="main"] > .-support { padding-top: 2rem; }
[data-role="main"] > .-support.-support-v2 { padding-top: 0; }
[data-role="main"] > .-support + .-support { padding-top: 0; padding-bottom: 1rem;  }


.-support.-support-v2 > .container { width: 100%; padding: 0; }

.-support.-support-v2 > .container .wp-block-media-text__content { max-width: 40rem; }



// Stripe Donation boxes
// css/style.css
// over-riding  /plugins/stripe-payments/public/assets/css/public.css              (styles modal)
//        and   /plugins/stripe-payments/public/views/templates/default/style.css  (injected inline, styles button)

[data-role="main"] {

  .asp_product_item {
    border: unset;
    box-shadow: none;
    margin-top: none;
    margin-bottom: unset;
    padding: unset;
  }

  .asp_product_name,
  .asp_product_description,
  .asp_price_container {
    display: none;
  }

  .asp_all_buttons_container {
    @include flex;
    @include justify-content(center);
  }

  .asp_product_buy_btn.blue,
  .asp_product_buy_btn {
    border-color: unset;
    color: unset !important;

    text-decoration: none;
    font: unset;

    padding: unset;
    text-transform: unset;
    height: auto;
    border-radius: unset;
    vertical-align: unset;

    vertical-align: middle;
    border: 0;

    text-shadow: unset;

    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }

  .gutenberg-section .asp_product_buy_btn,
  .gutenberg-section .asp_product_buy_btn.blue {
    @extend %button;

    @include hover {
      text-shadow: unset;

      -webkit-box-shadow: unset;
      -moz-box-shadow: unset;
      box-shadow: unset;
    }
  }

  .gutenberg-section.core-cover .asp_product_buy_btn,
  .gutenberg-section.core-cover .asp_product_buy_btn.blue {
    @extend %button_against_dark_bg;
  }
}
