// Adaptive - css/style.css



// Small devices (landscape phones, 37.5rem and up)
@media (min-width: 37.5rem) {

  // Breakpoint - small
  %breakpoint { background: yellow; content: 'SMALL'; }

  .hide-on-mobile { display: block; }


  // Resources - small
  .resource-below-hero {
    @include flex;
    @include justify-content(space-between);
    @include flex-direction-row;
  }

  .single .resource-meta { width: calc(100% - 22rem); }

  .resource-pdf { @include flex; }
}



// up to Medium
@media (max-width: 47.9999rem) {
  // Classes
  .half-mobile.wp-block-column:not(:only-child) {
    flex-basis: calc(50% - 1em) !important;
  }
}




// Small to medium
@media (min-width: 37.5rem) and (max-width: 47.9999rem) {

  .wp-block-column:not(:only-child).full-width-sm {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
   }

   .hide-small-to-medium {
     display: none;
   }
}




// Medium devices (tablets, 48rem and up)
@media (min-width: 48rem) {


  // Breakpoint - medium
  %breakpoint { background: yellowgreen; content: 'MEDIUM'; }



  // Structure - medium
  %container-corset { margin-top: 0; margin-bottom: 0; }
  %container { margin-right: auto; margin-left: auto; }

  // max-width: 720px
  .deck,
  .wp-block-pullquote,
  .core-paragraph > .gutenberg-container {
    max-width: 47rem;
    //margin-right: auto;
    //margin-left: auto;
  }


  .-mobile { display: none; }
  .-desktop { display: block; }




  // Classes - medium
  %link-line { @include transition(background-image .2s ease-in-out, background-size .2s ease-in-out, color .2s ease-in-out); }
  %button { @include transition(background .2s ease-in-out); }

  .wp-block-buttons {
    @include flex-direction-row;
    &.is-content-justification-center { @include align-items(unset);  }
  }

  .core-button + .core-button { margin-top: 0; margin-left: 1rem; }





  // Blog - medium
  .meta-div {
    min-height: 2em;

    .meta-time { width: 25%; }
    .meta-author { width: 25%; }
    .meta-categories { width: 50%; }

    .meta-author, .meta-categories { border-top: 1px solid gray; }
  }




  // Resources - medium
  $spacing: 1.5rem;
  .col-md-6.col-article:nth-of-type(2n+1) { padding-right: calc( #{$spacing} / 2 ); }
  .col-md-6.col-article:nth-of-type(2n) { padding-left: calc( #{$spacing} / 2 ); }

  [data-role="main"] [href].resource-img-a { max-width: unset; }

  .default-resource-icon-div .img { position: relative; top: 50%; }


  [data-role="main"] .h2-share { font-size: 1rem; }

  .resource-img-a.photo-thumb:before { @include transition(opacity .3s ease-in-out); }
  .resource-img-a .default-resource-icon-div { @include transition(background-color .5s ease-in-out); }

  .h2-share { margin-right: .4rem; }
  $msb-icon-size: 1.8rem;


  // this is the [href]
  .msb-container .minimal-share-button {
    margin-right: 0;
    margin-left: 0;
  }

  .msb-container .icon {
    width: calc(#{$msb-icon-size} - .6rem);
    height: $msb-icon-size;
  }

  #copy-link .icon {
    width: calc( #{$msb-icon-size} - .8rem);
    height: calc( #{$msb-icon-size} - .8rem);
    background-size: calc( #{$msb-icon-size} - 1  rem);
  }



  // Footer - medium
   #menu-footer, #menu-social { text-align: center; }

   #menu-footer li { display: inline-block; padding: .8em 1.5em;  }

   .site-footer .col-footer { width: 33%; }
   .site-footer .col-footer:nth-of-type(2n),
   .site-footer .col-footer:nth-of-type(2n+1) { clear: unset; }
   .site-footer .col-footer:nth-of-type(3n+1) { clear: left; }

   .site-footer .footer-copyright-row .core-paragraph > .gutenberg-container { margin-right: auto; margin-left: auto; }

}






// Large devices (desktops, 62rem and up)
@media (min-width: 62rem) {

  // Breakpoint - large
  %breakpoint { background: dodgerblue; content: 'LARGE'; }


  // Structure - large
  $container: 57rem;
  %container { width: $container; }

  %container-corset { width: 48rem; margin-right: auto; margin-left: auto; }

  %container-gutter { width: calc( #{$container} - 30px); margin-right: auto; margin-left: auto; }

  // Archive - large
  [data-role="main"] .hentry > [href]:before { background-size: calc( #{$container} - 3rem) 100%; background-position: 50% 0; }


  // Header - large
  .-scroll {
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
     bottom: -2rem;
     left: 0;
    z-index: 0;

    &+ .site-header { box-shadow: 0 .05rem .5rem transparent; @include transition(box-shadow .3s ease-in-out); }
  }

  .-scroll.scrolled + .site-header { box-shadow: 0rem 0.05rem .5rem black; }


  // Resources - large
  .default-resource-icon-div { height: 13.9rem; padding: 0; }
  .default-resource-icon-div .img { position: static; }


  // Resource Single - Related Articles
  [data-role="main"] .related-articles {
    .li > [href] { padding: 0; }
    .li:first-of-type > [href] { margin-top: .5rem; }
    .li:not(:last-of-type) > [href] { margin-bottom: 0; }
    .col-md-6 + .col-md-6 { padding-top: 0; }
  }




  // Sticky Footer - large
  $footerh: 33.5rem;
  .wrapper { min-height: 100vh; margin-bottom: -$footerh; }
  .wrapper:after { content: ''; display: block; clear: both; }
  .wrapper:after, .site-footer { height:$footerh; }



  // Footer - large
  #menu-social {
    padding-top: .8rem;
    text-align: right;
    position: relative;
     right: -.6em;

    [href] {
      width: 1.8rem;
      height: 1.8rem;
    }
  }


  .site-footer [class*="col"].col-footer {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .site-footer .col-footer:nth-of-type(3n+1) { clear: unset; }

  .site-footer [class*="col"].col-footer { width: 20%; }

}



// Wide devices
// Extra large devices (large desktops, 75rem and up)
@media (min-width: 79rem) {

  // Breakpoint - wide
  %breakpoint { background: beige; content: 'WIDE'; }



  // Nav - wide
  $navpad_left: 1.44rem;
  $navpad_nochildren_right: $navpad_left;
  $navpad_haschildren_right: 1.9rem;
  $navpad_buttons_right: 1.2rem;


  // Resources - wide
  .default-resource-icon-div { height: 17rem; }

  .resource-below-hero {
    @include flex;
    @include justify-content(space-between);
    @include flex-direction-row;
  }

  .single .resource-meta {
    width: calc(100% - 15rem);
  }

  .resource-meta {
    @include flex;
    @include justify-content(flex-start);
    @include flex-direction-row;
  }

  .resource-pdf { @include flex; @include flex-direction-col; }

  .meta-time { max-width: 30%; }
  .meta-author { max-width: 30%; }
  .meta-tags { max-width: 40%; }

  .resource-meta [class*="meta"] + [class*="meta"] { padding-top: 0; padding-left: 2.44rem; }
  .single .resource-pdf { padding-top: .66rem; }



  // Structure - wide
  //$container: 70rem;
  $container: 76rem;
  %container { width: $container; }

  %container-wide { width: calc(#{$container} - 30px); margin-right: auto; margin-left: auto; }

  %container-gutter { width: calc( #{$container} - 30px); }


  // Archive - wide
  [data-role="main"] .hentry > [href]:before { background-size: calc( #{$container} - 3rem) 100%; }


}
