// Adaptive - css/style.css





// Wordpress overrides
@media (min-width: 782px) {
  .wp-block-column:not(:first-child).full-width-md-and-smaller { margin-left: 0; }
}


@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column:not(:only-child) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .wp-block-column.hide-md-and-smaller + .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }
}


@media (max-width: 61.99999rem) {
  .full-width-md-and-smaller {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
  }
}





// Small devices (landscape phones, 37.5rem and up)
@media (min-width: 37.5rem) {

  // Breakpoint - small
  %breakpoint { background: yellow; content: 'SMALL'; }

  .hide-on-mobile { display: block; }


  // Resources - small
  .resource-below-hero {
    @include flex;
    @include justify-content(space-between);
    @include flex-direction-row;
  }

  .resource-pdf { @include flex; @include align-items(flex-start); }



  // Archive - small
  .archive .resource-meta  {
    @include flex;
    @include flex-direction-col;
  }



  .archive .meta-tags {
    max-width: 45%;
  }

  .search-results, .search-no-results, .page-template {
    .archive-a > .container { @include flex; max-width: 100%; }
    .archive-img { padding-right: 1.5rem; }
  }

  .archive-txt {
    @include flex;
    @include flex-direction-col;
    @include justify-content(space-between);
  }


  // Forms - small
  // Connect - small
  /*#gform_wrapper_1 #field_1_10, */
  #gform_wrapper_1 #field_1_10 .ginput_container_radio { padding-top: .5rem; padding-bottom: .5rem; }
  #gform_wrapper_1 #field_1_10 .gfield_radio { @include flex-direction-row; }
  #gform_wrapper_1 #field_1_10 .gfield_label { padding-right: 1rem; }
  #gform_wrapper_1 #field_1_10 .gchoice + .gchoice { padding-left: 1rem; }

  // Events - small
  .date-register-div { @include flex; @include flex-direction-row; @include justify-content(space-between); }
  .register-div { padding-top: 0; }

  // Full Width Text / Media - small
  .wp-block-media-text.full-width .wp-block-media-text__media {
    height: 100%;

    &> [src] {
      max-width: unset;
      height: 100%;

      -o-object-fit: cover;
      object-fit: cover;
    }
  }

}






// mobile last
// up to Medium
@media (max-width: 47.9999rem) {

  // Classes
  .half-mobile.wp-block-column:not(:only-child) {
    flex-basis: calc(50% - 1em) !important;
  }
}




// Small to medium
// Columns edge case
@media (min-width: 37.5rem) and (max-width: 47.9999rem) {

  .wp-block-column:nth-child(2n).full-width-sm { margin-left: 0; }

  .wp-block-column:not(:only-child).full-width-sm {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
   }

   .hide-small-to-medium {
     display: none;
   }
}




// Medium devices (tablets, 48rem and up)
@media (min-width: 48rem) {


  // Breakpoint - medium
  %breakpoint { background: yellowgreen; content: 'MEDIUM'; }



  // max-width: 720px
  .deck,
  .wp-block-pullquote,
  .core-paragraph > .gutenberg-container {
    max-width: 47rem;
  }


  .-mobile { display: none; }
  .-desktop { display: block; }


  .corset { width: 44rem; margin-right: auto; margin-left: auto; }



  // Classes - medium
  %link-line { @include transition(background-image .2s ease-in-out, background-size .2s ease-in-out, color .2s ease-in-out); }
  %button { @include transition(background .2s ease-in-out); }
  %button_against_dark_bg { @include transition(background .2s ease-in-out, border .2s ease-in-out); }

  .wp-block-buttons {
    @include flex-direction-row;
    &.is-content-justification-center { @include align-items(unset);  }
  }

  .core-button + .core-button { margin-top: 0; margin-left: 1rem; }



  // Grid display - medium
  // Home - Homepage - Events - Past Events
  %grid-display {
    &.-icon { @include transition(background .2s ease-in-out); }
    &.-photo:before { @include transition(background .2s ease-in-out); }

    .icon-wrapper-div { padding: 17.858% 0; }
  }



  // Archive - medium
  // Grid - medium
  %grid-title { @include transition(background-size .2s ease-in-out, color .2s ease-in-out); }
  .title-icon { @include transition(background-color .2s ease-in-out); }


  // Advanced Search - medium
  .search, .archive, .page-template {
    [data-role="main"] .hentry > [href] {
      @include transition(background .2s ease-in-out);

      &:before {
        @include transition(background-size .2s ease-in-out, background-position .2s ease-in-out);
      }
    }
  }



  // Blog - medium
  .meta-div {
    min-height: 2em;

    .meta-time { width: 25%; }
    .meta-author { width: 25%; }
    .meta-categories { width: 50%; }

    .meta-author, .meta-categories { border-top: 1px solid gray; }
  }



  // Resources - medium
  $spacing: 1.5rem;
  .col-md-6.col-article:nth-of-type(2n+1) { padding-right: calc( #{$spacing} / 2 ); }
  .col-md-6.col-article:nth-of-type(2n) { padding-left: calc( #{$spacing} / 2 ); }

  [data-role="main"] [href].resource-img-a { max-width: unset; }

  .default-resource-icon-div .img { position: relative; top: 50%; }

  .single .resource-meta { width: calc(100% - 22rem); }

  [data-role="main"] .h2-share { font-size: 1rem; }

  .h2-share { margin-right: .4rem; }
  $msb-icon-size: 1.8rem;

  .post { @include transition(opacity .2s ease-in-out); }


  // this is the [href]
  .msb-container .minimal-share-button {
    margin-right: 0;
    margin-left: 0;
  }

  .msb-container .icon {
    width: calc(#{$msb-icon-size} - .6rem);
    height: $msb-icon-size;
  }

  #copy-link .icon {
    width: calc( #{$msb-icon-size} - .8rem);
    height: calc( #{$msb-icon-size} - .8rem);
    background-size: calc( #{$msb-icon-size} - 1  rem);
  }


  // Events - medium
  .date-register-div { @include flex-direction-row; @include justify-content(flex-start); }
  .date-time-div { min-width: 56%; }

  .default-resource-icon-div { @include transition(background-color .2s ease-in-out); }

  [data-role="main"] .events-grid-a[href] { max-width: unset; }


  // Search - medium
  .page-template .advanced-search-row > [class*="col"]:nth-of-type(2n+1) { padding-right: .5rem; }
  .page-template .advanced-search-row > [class*="col"]:nth-of-type(2n)   { padding-left: .5rem; }

  .search-results, .search-no-results, .page-template {
    .picture.-icon { @include transition(background .2s ease-in-out); }
    .picture.-photo:before { @include transition(opacity .2s ease-in-out); }
  }

  .search, .archive {
    [data-role="main"] .hentry.type-events > [href] .icon-wrapper-div {
      @include transition(background .2s ease-in-out);
    }
  }

  .archive-icon {
    @include transition(background .2s ease-in-out);
  }

  .filter-buttons > [href] {
    @include transition(background .2s ease-in-out);
  }



  // Forms - medium
  // Connect - medium
  // Contact - medium
  #gform_wrapper_1 .ginput_container_name > [class*="name_"] { width: 49%; display: block; float: left; }

  #gform_wrapper_1 .ginput_container_name > [class*="name"] + [class*="name"] { padding-top: 0; margin-left: 2%; }

  #gform_wrapper_2 { padding-right: 3rem; padding-left: 3rem; }




  // Full Width Text / Media - medium
  .wp-block-media-text.full-width.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 1.5rem;
  }




  // Footer - medium
   #menu-footer, #menu-social { text-align: center; }

   #menu-footer li { display: inline-block; padding: .8em 1.5em;  }

   //.site-footer .col-footer { width: 33%; }
   .site-footer .col-footer { width: 50%; }
   .footer-h3 { text-align: center; }
   .col-footer .menu { @include flex; @include flex-direction-col; @include align-items(center); }

   .site-footer .col-footer:nth-of-type(2n),
   .site-footer .col-footer:nth-of-type(2n+1) { clear: unset; }
   .site-footer .col-footer:nth-of-type(3n+1) { clear: left; }

   .site-footer .footer-copyright-row .core-paragraph > .gutenberg-container { margin-right: auto; margin-left: auto; }

   .menu[id*="social"] > .menu-item > [href]:before { @include transition(background-image .2s ease-in-out); }

}




// Mobile last
// up to large
@media (min-width: 37.5rem) and (max-width: 61.9999rem) {

  // Advanced Search Compact
  .search-compact .advanced-search-row {
    .col-sm-6 { width: calc(50% - .5rem); }
    .col-sm-6:nth-of-type(2n+1) { margin-left: .5rem; }
    .col-sm-6:nth-of-type(2n)   { margin-right:  .5rem; }
  }
}




// Large devices (desktops, 62rem and up)
@media (min-width: 62rem) {

  // Breakpoint - large
  %breakpoint { background: dodgerblue; content: 'LARGE'; }


  // Classes - large
  .hide-md-and-smaller { display: block; }
  .lg-br { display: block; }


  // Header - large
  .-scroll {
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
     bottom: -2rem;
     left: 0;
    z-index: 0;

    &+ .site-header { box-shadow: 0 .05rem .5rem transparent; @include transition(box-shadow .3s ease-in-out); }
  }

  .-scroll.scrolled + .site-header { box-shadow: 0rem 0.05rem .5rem black; }


  // Resources - large
  .default-resource-icon-div { height: 13.9rem; padding: 0; }
  .default-resource-icon-div .img { position: static; }



  // Resource Single - Related Articles - large
  [data-role="main"] .related-articles {
    .li > [href] { padding: 0; }
    .li:first-of-type > [href] { margin-top: .5rem; }
    .li:not(:last-of-type) > [href] { margin-bottom: 0; }
    .col-md-6 + .col-md-6 { padding-top: 0; }
  }


  // Events - large
  .register-div { padding-top: 1rem; }


  // Archive - large
  // Search - large
  .gutenberg-section.core-shortcode #search-results .hentry > [href] > .container { width: 100%; }

  .search-form.search-compact {
    input[type="search"] {
      border-bottom: unset;
      padding-top: .3rem;
      padding-bottom: .3rem;
    }

    [type="submit"] {
      max-width: unset;
      padding: .16rem .2rem .12rem;
    }
  }

  .filter-buttons > [href] { padding: .1rem .5rem .1rem 1.25rem; }

  .search-columns > .wp-block-column:first-of-type { padding-bottom: 2rem; }

  .caveat { padding-top: 0; }



  #navmenu.show .search-submit,
  #navmenu:not(.show) .search-submit {
    display: block;
  }

  #navmenu .search-submit {
    top: 11rem;
    right: -27rem;
  }




  // Our Work - large
  // Advanced Search - large
  #advanced-search-trigger { display: none; }

  #advanced-search-trigger + #advanced-search-container {
    max-height: unset;
    overflow: unset;
  }



  // Advanced Search Compact - large
  #advanced-search-trigger:not(.-show) + #advanced-search-container {
    max-height: unset;
  }



  // Ask a Question - large
  #gform_wrapper_2 {
    width: calc(75vw - 2.95rem);
    margin-left: -2em;
    padding-left: 4rem;

    .gform_heading, #gform_2 { padding-right: 1.5rem; }
  }

  .wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content { padding-left: 3rem;  }
  .wp-block-media-text.has-media-on-the-right       .wp-block-media-text__content { padding-right: 3rem; }


  // Full-Width - large
  // Full Width - large
  .wp-block-media-text.full-width .wp-block-media-text__media {
    width: 50vw;
  }

  .wp-block-media-text.full-width .wp-block-media-text__content { padding-left: 1rem; }



  // Sticky Footer - large
  $footerh: 34.1rem;
  .wrapper { min-height: 100vh; margin-bottom: -$footerh; }
  .wrapper:after { content: ''; display: block; clear: both; }
  .wrapper:after, .site-footer { height:$footerh; }



  // Footer - large
  #menu-social {
    padding-top: .8rem;
    text-align: right;
    position: relative;
     right: -.6em;

    [href] {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .footer-h3 { text-align: left; }
  .col-footer .menu { @include align-items(flex-start); }

  .site-footer [class*="col"].col-footer {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .site-footer .col-footer:nth-of-type(3n+1) { clear: unset; }

  .site-footer [class*="col"].col-footer { width: 20%; }

}



// Wide devices
// Extra large devices (large desktops, 79rem and up)
@media (min-width: 79rem) {

  // Breakpoint - wide
  %breakpoint { background: beige; content: 'WIDE'; }


  // Classes - wide
  .wd-br { display: block; }


  // Nav - wide
  $navpad_left: 1.44rem;
  $navpad_nochildren_right: $navpad_left;
  $navpad_haschildren_right: 1.9rem;
  $navpad_buttons_right: 1.2rem;


  // Resources - wide
  // Resources Single - wide
  .default-resource-icon-div { height: 17rem; }

  .resource-below-hero {
    @include flex;
    @include justify-content(space-between);
    @include flex-direction-row;
  }

  .single .resource-meta {
    width: calc(100% - 15rem);

    @include flex;
    @include justify-content(flex-start);
    @include flex-direction-row;

    [class*="meta"] + [class*="meta"] { padding-top: 0; padding-left: 4.44rem; }
  }

  .single .resource-pdf { @include flex; @include flex-direction-col; }

  .single {
    .meta-time { max-width: 30%; }
    .meta-author { max-width: 40%; }
    .meta-tags { max-width: 40%; }
  }




  // Events - wide
  .events-picture, .events-content-div { float: left; }
  .events-picture     { width: 35rem; }
  .events-content-div { width: calc(100% - 35rem); }
  .events-content-div > [class*="gutenberg-section"] { padding-left: 4rem; }

  // vertically align the element, whatever it is, flush to top
  .events-content-div > [class*="gutenberg-section"] > .gutenberg-container > * { margin-top: 0; }


  // Search Results - wide
  // Search - wide
  // Archive - wide
  // Advanced Search - wide
  // Our Work - wide
  .search-results, .search-no-results, .archive/*, .page-template */  {
    .archive-a .resource-meta {
      @include flex;
      @include justify-content(flex-start);
      @include flex-direction-row;

      [class*="meta"] + [class*="meta"] { padding-top: 0; padding-left: 3.44rem; }
    }
  }


  .search-results, .search-no-results {
    .archive-a .archive-meta > .resource-meta {
      @include flex-direction-col;
      [class*="meta"] + [class*="meta"] { padding-top: .5rem; padding-left: 0; }

    }
  }


  // Forms - wide
  // Connect - wide
  #gform_wrapper_1 #field_1_10 {
    @include flex-direction-row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #gform_wrapper_1 #field_1_10 .ginput_container_radio { padding: 0; }
  #gform_wrapper_1 #field_1_10 .gchoice + .gchoice { padding-left: 2rem; }


  // Ask a Question - wide
  #gform_wrapper_2 {
    // right col 70rem * .75 - 1em
    // right mar 50vw - 35.05rem    (.05 = border width)
    width: calc( (70rem * .75 - 1em) + ( 50vw - 35.05rem) );

    .gform_heading, #gform_2 { width: calc((70rem * .75) - 4em); }
  }


}
