// Colors

// css/priority.css AND css/style.css

$nearblack: #1e1e1e;
$magenta: #bc076d;
$mauve: #68043c;

$nearblack: #1e1e1e;
$magenta: #bc076d;
$mauve: #68043c;

$red: #bf0d27;

$gray: #b7b7b7;
$gray2: #545a5b;



/* . . . . . . . . . . . . . . . . . . . . . . . . . */


$green: #43ba81;  // WORSHAM, RISE nav underline
$navy:  #130f44;
$teal:  #35bdb6;  // Home deck bg
$blue:  #7ad0e2;  // Events bg

$nearwhite: #f3f3f4;
