// Used in __1a-structure.scss
%huge      { font-size: 3rem; line-height: 1.2;  }
%large     { font-size: 2.3rem; line-height: 1.2; }
%medium    { font-size: 1.66rem; line-height: 1.2; }
%text      { font-size: 1.25rem; line-height: 1.44; }
%deck      { @extend %text; }
%footer    { font-size: 1.25rem; line-height: 1.2; }
%small     { font-size: 1rem; line-height: 1.666; }

%resource-text { font-size: 1rem; line-height: 1.8; }


[data-role="main"] h1 { @extend %huge; text-transform: uppercase; }


[data-role="main"] h2 { text-transform: uppercase; font-weight: 400; }


[data-role="main"] .has-large-font-size { @extend %large; margin-bottom: .2rem; }

[data-role="main"] .deck,
[data-role="main"] h2,
[data-role="main"] .has-medium-font-size { @extend %medium; margin-bottom: .3rem; }

%main-menu-li                { font-size: 1.666rem; line-height: 1.2; }

[data-role="main"] .event-h2 { @extend %deck; font-weight: normal; }

%offsite-menu-li             { font-size: 1.25rem; line-height: 1.2; }



[data-role="main"],
[data-role="main"] .small-h2,
[data-role="main"] .article-h2,
[data-role="main"] h3,
[data-role="main"] .has-default-font-size { @extend %text; }

[data-role="main"] .small-h2 { text-transform: none; }


input {
  &[type="text"],
  &[type="color"],
  &[type="date"],
  &[type="datetime-local"],
  &[type="email"],
  &[type="file"],
  &[type="image"],
  &[type="month"],
  &[type="number"],
  &[type="password"],
  &[type="radio"],
  &[type="range"],
  &[type="search"],
  &[type="tel"],
  &[type="time"],
  &[type="url"],
  &[type="week"] {
    @extend %text;
  }
}


[data-role="main"] h3 { font-weight: normal; font-weight: 400; margin-bottom: .3rem; }


// figcaption
[data-role="main"] .wp-block-image > * > * { @extend %small; }

// Sharing title
[data-role="main"] .minimal-share-button[href] + p { @extend %small; }



// Bold
[data-role="main"] .meta-h2,
.resource-meta [class*="meta-"] {
  @extend %resource-text;
  font-family: 'mreaves-bold', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

.resource-pdf {
  @extend %resource-text;
  font-family: 'mreaves-bold', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
}




// Large devices (desktops, 62rem and up)
@media (min-width: 62rem) {

  %resource-text   { font-size: 1rem; line-height: 1.8; }
  %small           { font-size: 1.1rem; line-height: 1.666; }
  %offsite-menu-li { font-size: 1.1rem; line-height: 1.666; }
  %main-menu-li    { font-size: 1.3rem; }
  %text            { font-size: 1.4rem; line-height: 1.44; }
  %deck            { font-size: 1.8rem; }
  %medium          { font-size: 2.3rem;  }
  %large           { font-size: 4.5rem; }
  %huge            { font-size: 3.5rem; }


  .resource-pdf { line-height: 1.2; }
}
