// Used in __1a-structure.scss
%huge      { font-size: 3rem; line-height: 1.2;  }
%large     { font-size: 2.3rem; line-height: 1.2; }
%medium    { font-size: 1.66rem; line-height: 1.2; }
%text      { font-size: 1.25rem; line-height: 1.333; }
%deck      { @extend %text; }
%select    { @extend %text; line-height: 1; }
%footer    { font-size: 1.25rem; line-height: 1.2; }
%small     { font-size: 1rem; line-height: 1.666; }

%resource-text { font-size: 1rem; line-height: 1.8; }


.page-template-page-custom-title [data-role="main"] h1 { margin-bottom: 0; }

[data-role="main"] h1, [data-role="main"] h2 { &.has-huge-font-size { @extend %huge; } }
[data-role="main"] h1 { @extend %huge; text-transform: uppercase; }


[data-role="main"] h2 { text-transform: uppercase; font-weight: 400; }


[data-role="main"] .has-large-font-size { @extend %large; margin-bottom: .2rem; }

[data-role="main"] .deck,
[data-role="main"] h2,
[data-role="main"] .has-medium-font-size,
[data-role="main"] h1.search-results-h1 { @extend %medium; }

[data-role="main"] .deck,
[data-role="main"] h2,
[data-role="main"] .has-medium-font-size { margin-bottom: .3rem;  }

%main-menu-li,
[data-role="main"] .archive-h2 { font-size: 1.666rem; line-height: 1.2; }

[data-role="main"] .event-h2   { @extend %deck; font-weight: normal; }

[data-role="main"] .sidebar-h2 { @extend %deck; }
[data-role="main"] .sidebar-h3 { @extend %text; }

%offsite-menu-li               { font-size: 1.25rem; line-height: 1.2; }


[data-role="main"] h3       { @extend %text; }
[data-role="main"] h3.-bold { @extend %deck; font-family: 'mreaves-bold'; text-transform: uppercase; }


[data-role="main"] h4 { @extend %text; font-family: 'mreaves-ital'; font-style: italic; font-weight: normal; margin-top: 0; margin-bottom: 1rem; }


[data-role="main"],
[data-role="main"] .small-h2,
[data-role="main"] .article-h2,
[data-role="main"] .has-default-font-size { @extend %text; }

[data-role="main"] .small-h2 { text-transform: none; }



[data-role="main"] [id*="post-"] .registration-closed  p { @extend %select; }
.search-form:not(.search-compact) .select { @extend %select; }

.search-form.search-compact input[type="search"],
.search-form.search-compact .search-submit,
.search-form.search-compact       .select { @extend %select; }


[data-role="main"] h3 { font-weight: normal; font-weight: 400; margin-bottom: .3rem; }


#navmenu .search-input { @extend %footer; }

.sort-div [for="sort-by"],
.sort-div .select { @extend %small; }


// figcaption
[data-role="main"] .wp-block-image > * > * { @extend %small; }

// Sharing title
[data-role="main"] .minimal-share-button[href] + p { @extend %small; }

// filter buttons - Advanced Search results
.filter-buttons > [href] { @extend %small; }



// Bold
[data-role="main"] .meta-h2,
.resource-meta [class*="meta-"] {
  @extend %resource-text;
  font-family: 'mreaves-bold', sans-serif;
  font-weight: normal;
}

[data-role="main"] .meta-h2 {
  line-height: 1.2;
}

.resource-meta [class*="meta-"] { line-height: 1.44; }

.resource-pdf {
  @extend %resource-text;
  font-family: 'mreaves-bold', sans-serif;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
}




// Large devices (desktops, 62rem and up)
@media (min-width: 62rem) {

  %resource-text   { font-size: 1rem; line-height: 1.8; }
  %small           { font-size: 1.1rem; line-height: 1.666; }
  %offsite-menu-li { font-size: 1.1rem; line-height: 1.666; }

  %main-menu-li    { font-size: 1.3rem; }
  %text            { font-size: 1.4rem; }
  %deck            { font-size: 1.7rem; }
  %medium          { font-size: 2.4rem; }
  %large           { font-size: 3rem; }
  %huge            { font-size: 4.3rem; }


  %select       { font-size: 1.2rem; line-height: 1; }




  .resource-pdf,
  [data-role="main"] .sidebar-h2,
  [data-role="main"] .sidebar-h3,
  [data-role="main"] .meta-h2 { line-height: 1.2; }

  .resource-meta [class*="meta-"] { line-height: 1.44; }


  .search-form.search-compact input[type="search"],
  .search-form.search-compact .search-submit { font-size: 1.2rem; line-height: 1.666; }
  .search-form.search-compact .select        { font-size: 1.2rem; line-height: 1; }


}
