// Nav - css/priority.css


// Variables
$mobile-nav-border-color: rgba(255,255,255,.44);



// O - BASIC SHOW/HIDE
#navmenu:not(.show) { display: none; }
#navmenu.show       { display: block; }
#navmenu.show { -webkit-box-shadow: .05rem .2rem 0.2rem rgba(0,0,0,.1); box-shadow: .05rem .2rem 0.2rem rgba(0,0,0,.1); }



// I - Header
$navh: 6rem;
%nav-height { height: $navh; }
%nav-menu-position { top: calc(#{$navh} - .05rem); }


.site-header {
  @extend %nav-height;
  width: 100%;
  background: white;
  z-index: 999;

  &> .gutenberg-container {
    width: calc(100% - 3rem);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  &> .gutenberg-container, .logo-div, .logo-a { height: 100%; }

  .logo-a, .logo-img { display: block; }

  .logo-a {
    width: calc(100% - 5rem);
    float: left;
    @include flex;
    @include align-items(center);
  }

  .logo-img { height: calc(100% - 1rem); width: auto; }
}





// II - Nav
#navmenu {
  @extend %nav-menu-position;

  width: 100%;
  background: lightgray;
  position: absolute;
   left: 0;
  z-index: 900;

  &> .container-on-mobile { width: 100%; }


  [href] { text-decoration: none; }
}



// II - 1. top level nav
.menu > ul,
#navmenu .navbar-nav {  // div > ul
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  list-style-type: none;
  margin: 0;
  padding: 0;
}




.menu > ul,
#navmenu .navbar-nav {
  &> li {
    background: transparent;
    font-size: 1rem;
    position: relative;
    text-transform: uppercase;

    &> [href]:not([href='#']) {
      padding: 1rem 1.5rem 1rem 2rem;
    }
  }

  [href]:not([href="#"]) {
    width: 100%;
    border-bottom: .05rem solid $mobile-nav-border-color;
    color: $nearblack;
    display: inline-block;
    position: relative;

    @include hover { background: $gray; text-decoration: none; }
  }
}




// III. Nav toggle
.navbar-toggler {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  padding: 0;

  position: absolute;
   top: 1.5rem;
   right: 2rem;

  z-index: 910;

  &:focus { outline: -webkit-focus-ring-color auto .5rem; }

  &> .opennav { position: absolute; left: 10%; }

  .icon-bar {
    width: 80%;
    height: .2rem;
    background: $gray;
    display: block;
    position: absolute;
     left: 10%;
  }


  // middle bar
  &.collapsed > .icon-bar.-middle { opacity: 1; }
  &> .icon-bar.-middle { @extend %toggle_middle; }


  // the hamburger
  &.collapsed {
    &> .icon-bar.-top,
    &> .icon-bar.-bottom {
      @include rotate(0deg);
    }

    &> .icon-bar.-top {
      @extend %toggle_top;
      @include transform(0deg, (1,1), 0, 0, 0);

    }

    &> .icon-bar.-bottom {
      @extend %toggle_bottom;
      @include transform(0deg, (1,1), 0, 0, 0);
      -webkit-transform-origin: .45rem  -.2rem;
       -ms-transform-origin: .45rem  -.2rem;
        transform-origin: .45rem  -.2rem;
    }
  }


  // the x
  &[aria-expanded="true"] > .icon-bar {

    &.-top {
      @extend %toggle_top_bottom_collapsed;
      //@include animation(toggle_top, ease-in-out, 1, $opennav_timing);
      @include transform(45deg, (1,1), 0, 0, 0);
    }

    &.-bottom {
      @extend %toggle_top_bottom_collapsed;
      //@include animation(toggle_bottom, ease-in-out, 1, $opennav_timing);
      @include transform(-45deg, (1,1), 0, 0, 0);
    }

    &.-middle { opacity: 0; }
  }


}




// IV. Nav submenu
%submenu-caret {
  width: 7rem;
  height: 3.1rem;
  transform: rotate(0deg) scale(1) skew(0deg) translateX(0px) translateY(0px);
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @include transform(0deg, 1, 0, 0, 0);
  /*
  @include transition(background-image .2s ease-in-out, -webkit-transform .2s ease-in-out, -moz-transform .2s ease-in-out, -ms-transform .2s ease-in-out, -o-transform .2s ease-in-out, transform .2s ease-in-out);
  */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' overflow='visible'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%231E1E1E' d='M19.679 0L10.2 11.924 0 0h19.679z'/%3E%3C/svg%3E");
}


// IV - 1. general subnav
.menu .children,
.navbar-nav .sub-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


// IV - 2. submenus always open when using default (fallback)
//         page list nav
.menu > ul > .page_item_has_children:after {  // default
  @extend %submenu-caret;
  border-left: .05rem solid $mobile-nav-border-color;
}

.children > li > [href]:not([href="#"]) { padding: 1rem 0 1rem 3.5rem; }



#navmenu .navbar-nav > .menu-item-has-children > .open-submenu-a {

  // IV - 3. show the caret for top-level menu items with class .menu-item-has-children
  width: 7rem;
  height: 3.1rem;
  background-color: transparent;
  border-left: .05rem solid $mobile-nav-border-color;
  display: block;

  position: absolute;
   top: 0;
   right: 0;
  z-index: 100;

  &:after { @extend %submenu-caret; }


  // IV - 4. caret behavior on hover
  //         - cursor: pointer
  @include hover { cursor: pointer; }



  // IV - 5. caret behvavior on click (spins 180deg)
  &.mobile-show-submenu:after {
    @include transform(180deg, 1, 0deg, 0, 0);
  }


  // IV - 6. show full submenu if
  //         - caret was clicked
  //           and submenu has class .mobile-show-submenu
  //         - current page is a child page of a menu item
  //           and strict.js adds .mobile-show-submemu to submenu
  &.mobile-show-submenu + .sub-menu {
    height: 100%;
    max-height: unset;
  }


  // IV - 7. default submenu appearance - hidden by height
  &+ .sub-menu {
    height: 0;
    max-height: 0;
    background: rgba(0,0,0,.03);
    display: block;
    overflow: hidden;
    text-transform: none;

    // IV 8. submenu item padding
    [href]:not([href="#"]) { padding: 1rem 0 1rem 3.5rem; }
  }
}




// V - Current

// V - 1. Children
%current-nav-a-before {
  width: .4rem;
  height: .4rem;
  border-radius: .2rem;
  background: $nearblack;
  content: '';
  display: block;
  position: absolute;
   top: 1.3rem;
   left: 1rem;
}


%top-nav-a-before-has-children,
%top-nav-a-before-no-children { @extend %current-nav-a-before; }

#navmenu .children .current_page_item > [href]:not([href='#']),
#navmenu .sub-menu .current-menu-item > [href]:not([href='#']) {
  &:before { @extend %current-nav-a-before; }
}




// V - 2. Parents
%current-page-or-current-parent-li { background: #eee; }

#navmenu .menu > ul >    .current_page_item,
#navmenu .menu > ul >    .current_page_ancestor,
#navmenu .navbar-nav > .current-menu-item,
#navmenu .navbar-nav > .current-menu-ancestor {
  // current top level pages
  // and parents of current page
  // get shading
  @extend %current-page-or-current-parent-li;
}


#navmenu .navbar-nav > li.current-menu-item + li.current-menu-item {
  background: none;
}


#navmenu .menu > ul >  .current_page_item.page_item_has_children,
#navmenu .navbar-nav > .current-menu-item.menu-item-has-children  {
  // current top level pages get the dot
  &> [href]:not([href='#']):before { @extend %top-nav-a-before-has-children; }
}

#navmenu .menu > ul >  .current_page_item:not(.page_item_has_children),
#navmenu .navbar-nav > .current-menu-item:not(.menu-item-has-children) {
  &> [href]:not([href='#']):before { @extend %top-nav-a-before-no-children; }
}
